.Toastify__toast.Toastify__toast--default {
  border-radius: 4px;
  padding: 20px 10px;

  & .Toastify__close-button {
    color: white;
    margin-left: 16px;
  }
}

.Toastify__progress-bar.Toastify__progress-bar--default {
  background: #43b581;
}

.Toastify__toast.Toastify__toast--default,
.notification {
  background-color: #2f3136;
  color: white;
}

.notification {
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
  align-items: center;

  & > .icon-container {
    margin-right: 16px;
  }

  & > .body {
    display: flex;
    flex-direction: column;

    & > .content {
      margin-top: 8px;
    }

    & .content > .entry {
      font-weight: bold;
    }
  }

  & > .icon-container,
  & > .body > .content > .entry {
    &.-alert {
      color: #ffa000;
    }

    &.-activity {
      color: #18ffff;
    }

    &.-download {
      color: #1de9b6;
    }

    &.-summary {
      color: #64b5f6;
    }
  }
}
